/* advertisement section */
.advertisement {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 0;
}

.advertisement-container {
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}

.advertisement-text {
    max-width: 335px;
    color: #0c0808;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    display: inline-block;
}

.advertisement-highlight {
    background: #576f35;
    color: #FFF;
    border-radius: 12px;
    display: inline-block;
    padding: 2px 7px;
    position: relative;
    left: -9px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .advertisement {
        padding: 100px 0;
    }

    .advertisement-container {
        min-width: 704px;
        padding-left: 0;
    }

    .advertisement-text {
        font-size: 64px;
        max-width: 702px;
    }

    .advertisement-highlight {
        padding: 8px 10px;
        left: -12px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
    .advertisement-container {
        min-height: 228px;
        padding: 0;
    }

    .advertisement-text {
        font-size: 76px;
        max-width: 1044px;
    }

    .advertisement-highlight {
        padding: 8px 10px;
        left: -13px;
    }
}